
<section class="footer">
    <div class="row text-center p-3">
        <div class="col-lg-4 col-md-6" style="margin-bottom: 10px;">
            <h4 class="bold">Projects</h4> 
            <a href="/post/portfolio_post" class="footer_link">Posts</a><br>
            <a href="/team/portfolio_teams" class="footer_link">Teams</a><br>
            <a href="/player/portfolio_players" class="footer_link">Players</a>
        </div>
        <div class="col-lg-4 col-md-6" style="margin-bottom: 10px;" >
            <h4 class="bold">Communitty</h4>
            
            <a href="" class="footer_link"><span class="material-icons md-18">sync_alt</span> Twitter</a><br>
            <a href="" class="footer_link"><span class="material-icons md-18">favorite</span> Instagram</a>
        </div>
        <div class="col-lg-4 col-md-6" >
            <h4 class="bold">Help</h4>
            <span class="material-icons md-18">phone_enabled</span> 0414-555-6759 <br>
            <span class="material-icons md-18">mail</span> luisfm@gmail.com
        </div>
    </div>    
</section>


