{% extends("base.html") %}

{% block title %}Login{% endblock %}

{% block content %}
        
    <div class="container p-2">
        <div class="text-center mt-3">
            <h6 class="display-3 text-capitalize"> Login <h6>
            <div class="heading-line mb-1"></div>
        </div>

        <br>

        <div class="shadow p-3 mb-5 bg-body rounded">
            <form method="POST">
                {{ form.hidden_tag() }}

                {{ form.email.label(class = "form-label") }}
                {{ form.email(class = "form-control") }}
                <br>

                {{ form.password.label(class = "form-label") }}
                {{ form.password(class = "form-control") }}
                <br>

                {{ form.submit(class = "btn btn-outline-dark" ) }}
            </form>
        </div>
        <br>
    </div>
    
{% endblock %}